main{
    max-width: 840px;
}
nav{
    background-color: #333;
    padding: 1rem;
}
nav a {
    color: white;
    padding: 0.5rem 1 rem;
    display: block;
}
h1{
    color: #222;
    
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);/* corrected syntax*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img{
    width: 150px;
    height: auto;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}